* {
    font-family: sans-serif;
}

header {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
}

main {
    display: flex;
    flex-direction: row;
}

main h1 {
    font-size: 25px;
}

aside {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: 15px 0px 5px 5px;
}

button, input {
    height: 30px;
    margin: 5px 0px;
    border-radius: 6px;
}

hr {
    width: 100%;
    margin: 10px 0px;
}

.default {
    background-image:radial-gradient(
        rgba(114, 170, 253, 0.397) 0%,
        rgba(9, 18, 151, 0.774) 100%);
}


#search-card {
    display: flex;
    flex-direction: column;
}

#current-weather {
    border: 1px solid black;
    width: 100%;
    margin: 15px;
}

#current-weather h1,
#current-weather p {
    margin: 15px 0px;
}

#submit-btn {
    background-color: cornflowerblue;
}